@import '~bootstrap';
$grey: #aeb7c1;
$teal: #3e9c9f;
$pink: #d87093;


.list-table {

    &__unchecked,
    &__unchecked:link,
    &__unchecked:visited,
    &__unchecked:hover,
    &__unchecked:active {
        color: $grey;
        cursor: pointer;
    }

    &__checked,
    &__checked:link,
    &__checked:visited,
    &__checked:hover,
    &__checked:active {
        color: $teal;
        cursor: pointer;
    }

    &__crossed {
        text-decoration: line-through;
    }

    &__greyed {
        color: $grey !important;
    }

    &__attention {
        color: $pink !important;
        font-weight: bold;
    }


}